[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mariadb.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
bind-address    = 0.0.0.0
datadir         = /var/lib/mysql
tmpdir          = /var/tmp
lc_messages     = en_US

character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci
log_error            = /var/lib/mysql/mariadb.err
